
<title>Base Ball Stats</title>
<div class="infinite-table">
  <table id="base_ball_stats_tab" class="table table-striped table-bordered" style="width:100%">
    <thead>
      <tr>
        <th><button class="sortklass" id="player_name"> Name </button><i class="fa fa-fw fa-sort"></i> </th>
        <th><button class="sortklass" id="avg"> AVG </button><i class="fa fa-fw fa-sort"></i> </th>
        <th><button class="sortklass" id="hr"> HR</button><i class="fa fa-fw fa-sort"></i> </th>
        <th><button class="sortklass" id="rbi"> RBI</button><i class="fa fa-fw fa-sort"></i> </th>
        <th><button class="sortklass" id="runs"> RUNS </button> <i class="fa fa-fw fa-sort"></i> </th>
        <th><button class="sortklass" id="sbs">SBS</button><i class="fa fa-fw fa-sort"></i> </th>
        <th><button class="sortklass" id="ops">OPS</button><i class="fa fa-fw fa-sort"></i> </th>
      </tr>
    </thead>
    <%= render :partial => 'base_ball_stats', :object => @base_ball_stats %>
  </table>
  <%= link_to_next_page(@base_ball_stats, 'Next Page', :remote => true) %>
</div>
<%#== pagy_bootstrap_nav(@pagy) %>
<script>
  $(".sortklass").click(function(){
    console.log("id")
    order_by = $(this).attr('id')
    $.ajax({
      type: "GET",
      url: '/base_ball_stats/',
      data: {
        order_by: order_by,
      },
      success: function(data){
      debugger
      },
      complete: function(){
        $('table').tablesorter({
            widgets        : ['zebra', 'columns'],
            usNumberFormat : false,
            sortReset      : true,
            sortRestart    : true,
            cssInfoBlock : "avoid-sort"
        });
      }
    });
console.log($(this).attr('id'))
  })
  // $(document).ready(function() {
  //   $('#example').DataTable( {
  //       responsive: true,
  //       "pageLength": 20
  //     });
  //   } );
</script>